html,
body {
  padding: 0;
  margin: 0;
  background-color: #FAFAFA;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#layout, #__next{
  height: 100%;
}

.color-primary{
  color : #F05454;
}

.color-dark{
  color : #12262F;
}

.text-shadow{
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.font-small{
  font-size:1rem;
}

.font-xs{
  font-size: .8rem;
}

.card-highlight{
  min-width: 55%;
  margin-right: 15px;
}

.image .overlay{
  background: rgba(18, 38, 47, 0.5);
  height: 100%;
}

.bg-primary{
  background: rgba(240, 84, 84, 1) !important;
}

.bg-primary-80{
  background: rgba(240, 84, 84, 0.8) !important;
}

.bg-warning-80{
  background: rgba(240, 213, 58, 0.8) !important;
}

.auth{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

@media (min-width: 576px) { 
  .font-xs{
    font-size:1rem;
  }

  .fs-6{
    font-size:1.2rem !important;
  }

  .highlight .card .image {
    min-height: 20vw !important;
  }

  .cursor:hover{
    cursor: pointer;
  }

  #layoutRoot{
    background:white;
    /* box-shadow:0px 10px 20px -10px rgba(0,0,0,.5) */
    border:2px solid #eaeaea;
  }

  #layoutRoot #layoutChildren{
    padding : 1rem;
  }

  .auth{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
  }
  
}